@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Staatliches:100,200,300,400,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:100,200,300,400,500,600,700,800,900);

* {
  font-family: "Bebas Neue", "Staatliches", "Poppins", "Helvetica Neue", Arial,
    Helvetica, sans-serif;
  margin: 0;
  border: 0;
  box-sizing: border-box !important;
  scroll-behavior: smooth !important;
  line-height: 1.34em !important;
  letter-spacing: 0.12em !important;
  /* border: 1px solid red !important; */
}
html,
body {
  background-color: #131313;
  color: #606060;
}
a {
  color: #909090;
  text-decoration-line: underline !important;
  text-decoration-style: solid !important;
  text-underline-offset: 2px;
}
li a:hover {
  color: white;
}
img {
  filter: brightness(0.5);
}
.Link {
  display: block;
  line-height: 1.9rem;
}
.Link:hover {
  color: white;
}
.Loader {
  animation: 320ms Loader linear infinite;
  width: 1.3rem;
  margin-inline: auto;
  aspect-ratio: 1 / 1;
  background: transparent;
  border: 2.5px solid #777;
  border-top: 2.5px solid white;
  border-right: 2.5px solid white;
  border-radius: 50%;
}
.Clock {
  text-decoration-color: rgb(82, 82, 82);
}
.Home-Entry-Text {
  border: 1px solid #606060;
}
.Home-Overlay {
  background-color: rgba(34, 34, 34, 0.97);
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 9;
  transition: 0.4s ease;
}
.Home-Image-Container:hover .Home-Overlay {
  height: 0;
  bottom: 100%;
}
.Home-Image {
  filter: brightness(0.5);
}
.Article-Card {
  border-bottom: 2px solid rgba(35, 35, 35, 0.98);
}

/* @media (min-width: 768px) {
  html,
  body {
    background-image: url(/images/bg.svg);
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover;
    background-position: center;
  }
} */

@keyframes Loader {
  100% {
    transform: rotate(360deg);
  }
}
